
body {
  background: white;
  color: black;
  margin: 70px 0;
}

.chatbar {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: white;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  font-family: 'Noto Serif', serif;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  font-size: 16px;
  font-family: 'Noto Serif', serif;


}

.message-username {
  flex: 2;
  /*font-weight: 700;*/
  font-size: 16px;
  font-family: 'Noto Serif', serif;


}

.navbar {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  /*border-bottom: 1px solid yellow;*/
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: white;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  font-family: 'Noto Serif', serif;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.userCount {
  color: white;
  float: right;
  padding: 10px 10px 0 0;
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 700;
}
